version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "08:00"
      timezone: "Europe/Paris"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
    reviewers:
      - "Scttpr"
    commit-message:
      prefix: "chore"
